.header-left-wrapper {
  display: flex;
  align-items: center; 
}

.header-left-wrapper h1{
  font-size: 45px;
}

.header-left-wrapper .header-left {
  color: #e31e26;
}

.header-right-wrapper {
  text-align: right;
}

.header-right-wrapper .header-right {
  padding: 10px 0px;
}

.header-right-wrapper .header-right p {
  margin: 0 !important;
}

.navbar-dark .navbar-toggler {
  border: 0px !important;
  color: #fff !important;
  outline: none;
  padding: 10px;
}

.primary-color {
  background-color: #e31e26;
}

.margin-top-20 {
  margin-top: 20px;
}

.menu-title {
  font-size: 30px;
  text-align: center;
}

.menu-cat {
  color: #000;
  font-size: 20px;
}

.menu-eat {
  background-color: #e31e26;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  display: block;
}

.menu-eat:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  padding: 0px !important;
}

.nav-item .nav-link, .nav-item .nav-link:hover {
  color: #fff !important;
}

.nav-item {
  margin: 0px !important;
  padding: 0px !important;
}

.nav-item .nav-link {
  padding: 1rem 1.5rem !important;
}

.nav-item:hover {
  background-color: #FF4C4C;
}

.divider {
  border-top: 2px dotted rgba(0,0,0,.15);
  border-bottom: 2px dotted rgba(0,0,0,.15);
  padding: 8px 0px;
  text-align: center;
  letter-spacing: .15em;
  font-size: 13px;
  margin: 20px 0px;
  height: 60px;
  color: #e31e26;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.custom-row {
 padding: 0px;
 margin: 0px;
}

.hours-wrapper .title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.hours-wrapper .sub-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.location-wrapper {

}

.footer-wrapper {
  text-align: center;
}

#home .map-responsive {
  padding-bottom: 45%;
}

.specials-wrapper {
  border: #000 dashed 4px;
  margin-top: 20px;
}

.specials-title {
  font-size: 30px;
  text-align: center;
}

.specials-content-title {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
  color: Red;
  font-size: 30px;
  font-weight: bold;
}

.specials-content-discount {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.specials-content-code {
  color: Red;
  font-size: 20px;
  font-weight: bold;
}

.specials-content-description {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.specials-content-disclaimer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}

.about-title {
  font-size: 30px;
  text-align: center;
}

.about-wrapper {
  margin: 20px;
}

.about-content {
  margin-top: 10px;
}